$color-base:       #FF4444; // 主题色
$color-success:       #67c23a; //表示「成功」的状态色
$color-warning:       #e6a23c; //表示「警告」的状态色
$color-danger:        #f56c6c; //表示「危险」的状态色
$color-info:          #909399; //表示「信息」的状态色
$color-secondary:     #34e3d9; //表示「次要」的状态色
$link-default-color:   #333;

$color-text-primary:    #303133; //主要文字色
$color-text-regular:    #606266; //常规文字色
$color-text-secondary:  #909399; //次要文字色
$color-text-placeholder:#c0c4cc; //占位文字色

$border-color-base:#dcdfe6; //一级边框
$border-color-light:#e4e7ed; //二级边框
$border-color-lighter:#ebeef5; //三级边框
$border-color-extra-light:#f2f6fc; //四级边框

$color-bg-primary: #304156;
$color-bg-extra: #1f2d3d;
$color-bg-ffff: #ffff;
$color-bg-hover: #001528;

$font-size-xxxxxxl:50px;
$font-size-xxxxxl: 32px;
$font-size-xxxxl: 28px;
$font-size-xxxl: 24px;
$font-size-xxl: 20px;
$font-size-xl:  18px;
$font-size-l:   16px;
$font-size-m:   14px;
$font-size-s:   12px;
